---
---

@import "minima";

.wrapper {
    .tweetblock {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 8));
        max-width:         calc(#{$content-width} - (#{$spacing-unit} * 8));
        margin-right: auto;
        margin-left: auto;
        padding-right: $spacing-unit;
        padding-left: $spacing-unit;
    }
}
